@{
    ViewBag.Title = "Index";
}

<div class="field">
    <label for="username">Username</label>
    <input type="text" id="username" />
</div>
<div class="actions">
    <a href="#" class="score-trigger">Get scores</a>
</div>
<div id="scores">
    <div class="total">
        Total score:
        <span id="total-score"></span>
    </div>
</div>